  @charset 'utf-8';

  @import 'settings';
  @import 'foundation';
  @import 'motion-ui';

  @include foundation-global-styles;
  @include foundation-grid; // @include foundation-flex-grid;
  //
  @include foundation-xy-grid-classes;
  @include foundation-typography;
  @include foundation-button;
  @include foundation-forms; // @include foundation-range-input;
  @include foundation-accordion;
  @include foundation-accordion-menu;
  @include foundation-badge;
  @include foundation-breadcrumbs;
  @include foundation-button-group;
  @include foundation-callout;
  @include foundation-card;
  @include foundation-close-button;
  @include foundation-menu;
  @include foundation-menu-icon;
  @include foundation-drilldown-menu;
  @include foundation-dropdown;
  @include foundation-dropdown-menu;
  @include foundation-responsive-embed;
  @include foundation-label;
  @include foundation-media-object;
  @include foundation-off-canvas;
  @include foundation-orbit;
  @include foundation-pagination;
  @include foundation-progress-bar;
  @include foundation-slider;
  @include foundation-sticky;
  @include foundation-reveal;
  @include foundation-switch;
  @include foundation-table;
  @include foundation-tabs;
  @include foundation-thumbnail;
  @include foundation-title-bar;
  @include foundation-tooltip;
  @include foundation-top-bar;
  @include foundation-visibility-classes; // @include foundation-float-classes;
  @include foundation-flex-classes; // @include foundation-prototype-classes;
  @include motion-ui-transitions;
  @include motion-ui-animations;


  @import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=45bee0e3-f8da-4ee6-853d-962d02b421f2");
  @font-face {
  	font-family: "Clarendon W01 Light_692104";
  	src: url("../fonts/d3a87431-a863-4c7c-8dac-5b991fd45610.eot?#iefix");
  	src: url("../fonts/d3a87431-a863-4c7c-8dac-5b991fd45610.eot?#iefix") format("eot"), url("../fonts/45cc52e0-de22-4a1c-b586-656f32b78526.woff2") format("woff2"), url("../fonts/4994d637-0213-4ee2-a3e6-06ad343bfaab.woff") format("woff"), url("../fonts/e9eaff3f-0f0f-42f9-8206-9030adc0903d.ttf") format("truetype"), url("../fonts/5dfe70d5-cb69-469d-b9d7-0abcc3db9a80.svg#5dfe70d5-cb69-469d-b9d7-0abcc3db9a80") format("svg");
  }

  .clali {
  	font-family: "Clarendon W01 Light_692104";
  }

  @font-face {
  	font-family: "Clarendon W01 Medium_692107";
  	src: url("../fonts/c6993450-d795-4fd3-b306-38481733894c.eot?#iefix");
  	src: url("../fonts/c6993450-d795-4fd3-b306-38481733894c.eot?#iefix") format("eot"), url("../fonts/a43f0acb-b215-4258-9826-aabca6f409ea.woff2") format("woff2"), url("../fonts/b6878f57-4d64-4d70-926d-fa4dec6173a5.woff") format("woff"), url("../fonts/0a6b6eff-6b5d-46d4-b681-f356eef1e4c1.ttf") format("truetype"), url("../fonts/600b1038-76a8-43b4-a2f7-2a6eb0681f95.svg#600b1038-76a8-43b4-a2f7-2a6eb0681f95") format("svg");
  }

  .clan {
  	font-family: "Clarendon W01 Medium_692107";
  }

  @font-face {
  	font-family: "Didot eText W01 Regular";
  	src: url("../fonts/dbcd27d7-e1e4-4757-b144-32def75c2eaa.eot?#iefix");
  	src: url("../fonts/dbcd27d7-e1e4-4757-b144-32def75c2eaa.eot?#iefix") format("eot"), url("../fonts/47c21a47-e2de-449d-a6fc-1a4951ee5e46.woff2") format("woff2"), url("../fonts/6bfc2eb5-d4a7-42d3-a372-305f28511a22.woff") format("woff"), url("../fonts/b66a964d-58b6-42f1-a3f7-fecb060b2ec3.ttf") format("truetype"), url("../fonts/0a52b68f-a61f-4fa5-a685-99f557fcd924.svg#0a52b68f-a61f-4fa5-a685-99f557fcd924") format("svg");
  }

  .didot {
  	font-family: "Didot eText W01 Regular";
  }

  @font-face {
  	font-family: "Didot eText W01 Italic";
  	src: url("../fonts/1edaf9be-e132-492c-9591-6d4b8664fbf2.eot?#iefix");
  	src: url("../fonts/1edaf9be-e132-492c-9591-6d4b8664fbf2.eot?#iefix") format("eot"), url("../fonts/fae76152-6f1e-46d4-9fb2-19344ac9cb0f.woff2") format("woff2"), url("../fonts/49373f6d-8b3c-4950-ad68-78dd2ed5e1c2.woff") format("woff"), url("../fonts/10a533cb-9d30-4e26-860e-5675fe3b96d4.ttf") format("truetype"), url("../fonts/bc4d1b74-fa95-4002-94b6-52a2d440ab6e.svg#bc4d1b74-fa95-4002-94b6-52a2d440ab6e") format("svg");
  }

  .didit {
  	font-family: "Didot eText W01 Italic";
  }

  @font-face {
  	font-family: "Frutiger Neue W01 Book";
  	src: url("../fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix");
  	src: url("../fonts/4510b370-f470-4a48-9e50-610e1eda0c0f.eot?#iefix") format("eot"), url("../fonts/33b6f34a-c72d-45b1-b53e-b1f65815790e.woff2") format("woff2"), url("../fonts/dd178e8e-241c-40e4-8de9-517c03b90b59.woff") format("woff"), url("../fonts/5c8447f4-b7e3-462a-87f2-b823e98d6da5.ttf") format("truetype"), url("../fonts/22971d02-0160-4a1f-b7ea-5999e0509d35.svg#22971d02-0160-4a1f-b7ea-5999e0509d35") format("svg");
  }

  @font-face {
  	font-family: "FrutigerNeueW01-HeavyIt";
  	src: url("../fonts/5d4d4e95-f958-4e8a-9b7e-c3cd5b57e27a.eot?#iefix");
  	src: url("../fonts/5d4d4e95-f958-4e8a-9b7e-c3cd5b57e27a.eot?#iefix") format("eot"), url("../fonts/35ec0821-c6df-4f12-9f4f-d5add4e2365a.woff2") format("woff2"), url("../fonts/5fc2b3ff-c28e-476a-9cfa-3ad7a9226046.woff") format("woff"), url("../fonts/df70d9c4-aa62-412c-9b08-81ae09073ec4.ttf") format("truetype"), url("../fonts/2bf3382b-c353-4978-a6ec-bba349ec83fb.svg#2bf3382b-c353-4978-a6ec-bba349ec83fb") format("svg");
  }

  @font-face {
  	font-family: "Frutiger Neue W01 Md";
  	src: url("../fonts/979450a2-8d59-4cc2-9937-94255a4f3923.eot?#iefix");
  	src: url("../fonts/979450a2-8d59-4cc2-9937-94255a4f3923.eot?#iefix") format("eot"), url("../fonts/1f198a6d-f4fe-44f1-b78c-1b6a1cf66d00.woff2") format("woff2"), url("../fonts/4748e3d8-1b23-420a-a419-d7a367ea1076.woff") format("woff"), url("../fonts/11f76f62-1d4f-4327-bce7-1eee2aba08bf.ttf") format("truetype"), url("../fonts/ce4a6e96-f298-4ab1-a2ac-bdbbbc1467d6.svg#ce4a6e96-f298-4ab1-a2ac-bdbbbc1467d6") format("svg");
  }

  @font-face {
  	font-family: "Garamond Classico W01 Regular";
  	src: url("../fonts/56afbb5a-a481-4e90-b693-43eae53fc3d9.eot?#iefix");
  	src: url("../fonts/56afbb5a-a481-4e90-b693-43eae53fc3d9.eot?#iefix") format("eot"), url("../fonts/c4899cc7-54b2-4ffe-9d33-2a562f0c73f0.woff2") format("woff2"), url("../fonts/3fbd3aee-eafe-4100-bb9e-62524e18fc6b.woff") format("woff"), url("../fonts/997e7a98-b35a-4909-9ab8-6f7fa2c794bd.ttf") format("truetype"), url("../fonts/b222a278-9b41-42a4-8cb2-82e1150a78fd.svg#b222a278-9b41-42a4-8cb2-82e1150a78fd") format("svg");
  }

  .gar {
  	font-family: "Garamond Classico W01 Regular";
  }

  @font-face {
  	font-family: "Garamond Classico W01 Italic";
  	src: url("../fonts/700809f0-0e8e-466d-9b43-63ae6dc2a9d3.eot?#iefix");
  	src: url("../fonts/700809f0-0e8e-466d-9b43-63ae6dc2a9d3.eot?#iefix") format("eot"), url("../fonts/200bd58a-7a81-42b0-97b7-3decc0c3b61a.woff2") format("woff2"), url("../fonts/9af708ec-f1d3-43c0-bb3f-08edfb23364b.woff") format("woff"), url("../fonts/5e4cf8e2-7be3-4371-be1b-975bbd5b3cca.ttf") format("truetype"), url("../fonts/10ee654a-9c9a-4b18-affe-769122d9c7cf.svg#10ee654a-9c9a-4b18-affe-769122d9c7cf") format("svg");
  }

  .garit {
  	font-family: "Garamond Classico W01 Italic";
  }

  @font-face {
  	font-family: "Glypha LT Pro W01 Light Italic";
  	src: url("../fonts/ccbba197-89c5-4acc-a1ac-595e04a3d0a7.eot?#iefix");
  	src: url("../fonts/ccbba197-89c5-4acc-a1ac-595e04a3d0a7.eot?#iefix") format("eot"), url("../fonts/29735428-8a4d-414b-b6a2-4fb245053e6d.woff2") format("woff2"), url("../fonts/107edf85-03cf-4153-9a14-1bc7e516329e.woff") format("woff"), url("../fonts/d1161ba0-fab1-4204-96dd-48ae6cc34bcf.ttf") format("truetype"), url("../fonts/036521ea-6f13-4320-a399-08080f1a658e.svg#036521ea-6f13-4320-a399-08080f1a658e") format("svg");
  }

  .slabit {
  	font-family: "Glypha LT Pro W01 Light Italic";
  }

  @font-face {
  	font-family: "Glypha LT Pro W01 Regular";
  	src: url("../fonts/328f89eb-31e5-43d9-b8eb-265345fb9ef2.eot?#iefix");
  	src: url("../fonts/328f89eb-31e5-43d9-b8eb-265345fb9ef2.eot?#iefix") format("eot"), url("../fonts/28ee96d9-04b2-4057-85da-c1098a81970a.woff2") format("woff2"), url("../fonts/c211664d-2fe0-4bf4-bb9f-28e00e2e0916.woff") format("woff"), url("../fonts/9ac10b4b-27d0-49b6-ac2d-87227d4ae6fa.ttf") format("truetype"), url("../fonts/21cf78c1-3582-4aa1-97aa-219694200188.svg#21cf78c1-3582-4aa1-97aa-219694200188") format("svg");
  }

  .slabn {
  	font-family: "Glypha LT Pro W01 Regular";
  }

  @font-face {
  	font-family: "SwiftNeueLTW01-LightIt";
  	src: url("../fonts/bbc6c16a-06be-47c2-8266-1aab993bd7af.eot?#iefix");
  	src: url("../fonts/bbc6c16a-06be-47c2-8266-1aab993bd7af.eot?#iefix") format("eot"), url("../fonts/e63c5e6d-735f-4740-87a2-33ae3dbc97dc.woff2") format("woff2"), url("../fonts/a70186fb-9048-4500-89c9-b0916000381b.woff") format("woff"), url("../fonts/b199ba1f-bec0-4e1c-8355-fd6dafae1fb9.ttf") format("truetype"), url("../fonts/3250d8a4-c9b7-4e3c-bca2-822e7f601901.svg#3250d8a4-c9b7-4e3c-bca2-822e7f601901") format("svg");
  }

  .swiit {
  	font-family: "SwiftNeueLTW01-LightIt";
  }

  @font-face {
  	font-family: "Swift Neue LT W01 Book";
  	src: url("../fonts/1b0c1dfa-3933-4663-85b3-89599c75b21e.eot?#iefix");
  	src: url("../fonts/1b0c1dfa-3933-4663-85b3-89599c75b21e.eot?#iefix") format("eot"), url("../fonts/94779bdc-2e8d-43d6-9b51-f90e34a5cdc3.woff2") format("woff2"), url("../fonts/f54c1c01-df3b-417d-90c3-bae0d00a47db.woff") format("woff"), url("../fonts/5ad1ab7e-e343-4064-9ecd-22897cb1e9cc.ttf") format("truetype"), url("../fonts/35501b39-c817-43e8-ba5b-2462943219ad.svg#35501b39-c817-43e8-ba5b-2462943219ad") format("svg");
  }

  .swiftn {
  	font-family: "Swift Neue LT W01 Book";
  }

  @font-face {
  	font-family: "RCSwowOld";
  	src: url("../fonts/RCSwowSerif-Regular.woff2") format("woff2"), url("../fonts/RCSwowSerif-Regular.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowNeoS";
  	src: url("../fonts/RCSwowSerif-Neo-Center.woff2") format("woff2"), url("../fonts/RCSwowSerif-Neo-Center.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowNeo";
  	src: url("../fonts/RCSwowSerif-Neo.woff2") format("woff2"), url("../fonts/RCSwowSerif-Neo.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowDidT";
  	src: url("../fonts/RCSwowSerif-DidoneText.woff2") format("woff2"), url("../fonts/RCSwowSerif-DidoneText.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowDid";
  	src: url("../fonts/RCSwowSerif-Didone.woff2") format("woff2"), url("../fonts/RCSwowSerif-Didone.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowDidS";
  	src: url("../fonts/RCSwowSerif-Did-DidTex.woff2") format("woff2"), url("../fonts/RCSwowSerif-Did-DidTex.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowSwi";
  	src: url("../fonts/RCSwowSerif-Swift.woff2") format("woff2"), url("../fonts/RCSwowSerif-Swift.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowSwiS";
  	src: url("../fonts/RCSwowSerif-SwiS.woff2") format("woff2"), url("../fonts/RCSwowSerif-SwiS.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowSwiT";
  	src: url("../fonts/RCSwowSerif-Straight.woff2") format("woff2"), url("../fonts/RCSwowSerif-Straight.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowCla";
  	src: url("../fonts/RCSwowSerif-Clarendon.woff2") format("woff2"), url("../fonts/RCSwowSerif-Clarendon.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowSla";
  	src: url("../fonts/RCSwowSerif-Slab.woff2") format("woff2"), url("../fonts/RCSwowSerif-Slab.woff") format("woff")
  }

  @font-face {
  	font-family: "RCSwowWed";
  	src: url("../fonts/RCSwowSerif-SlabSwift.woff2") format("woff2"), url("../fonts/RCSwowSerif-SlabSwift.woff") format("woff")
  }

  .texgray {
  	color: #ccc;
  }

  #sub {
  	font-family: RCSwowOld;
  	text-align: center;
  	line-height: 120%;
  	margin-bottom: 3rem;
  }

  #title {
  	font-family: RCSwowNeo;
  	text-align: center;
  	font-size: 7em;
  	letter-spacing: 1px;
  	margin-bottom: 20px;
  	border-bottom: 1px solid #333;
  }

  #top {
  	font-family: RCSwowNeoS;
  	text-align: center;
  	margin-bottom: -3rem;
  }

  .top {
  	margin-top: 7rem;
  }

  #fontskip {
  	display: flex;
  	justify-content: center;
  	flex-wrap: wrap;
  }

  .skbtn {
  	border: 1px solid #333;
  	margin-right: -1px;
  	font-size: 1.2em;
  	padding: 0px 10px 2px 10px;
  	transition: 0.5s ease all;
  	cursor: pointer;
  	color: #333;
  	&:hover {
  		background-color: #EFEFEF;
  	}
  }

  .num {
  	position: absolute;
  	background-color: rgba(255, 255, 255, 0.7);
  	left: 0;
  	color: black;
  	font-family: "FrutigerNeueW01-HeavyIt";
  	font-size: 1em;
  	padding: 0 10px;
  }

  .fontview {
  	background-position: center;
  	background-size: cover;
  	height: 100%;
  	h2 {
  		margin-top: -70px;
  		font-size: 20em;
  		text-align: center;
  	}
  	h5 {
  		margin-top: -75px;
  		font-size: 2em;
  		text-align: center;
  		line-height: 100%;
  	}
  	h3 {
  		margin-top: -75px;
  		font-size: 4.5em;
  		text-align: center;
  		line-height: 100%;
  	}
  	h4 {
  		margin-top: 70px;
  		font-size: 2em;
  	}
  	.des {
  		line-height: 130%;
  		font-size: 1.1em;
  	}
  }

  .orbit-previous,
  .orbit-next {
  	color: rgba(0, 0, 0, 0.7);
  	transition: ease all 0.3s;
  	&:hover {
  		background-color: rgba(255, 170, 0, 0.5);
  	}
  }

  .wa {
  	margin-top: 3rem;
  	h6 {
  		text-align: center;
  		font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  		font-weight: 700;
  	}
  	p,
  	ol {
  		text-align: justify;
  		font-family: "Frutiger Neue W01 Book", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  	}
  }

  .answers {
  	margin-top: 1rem;
  	h6 {
  		font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  		font-weight: 700;
  		margin-bottom: 0;
  		text-align: center;
  	}
  }

  .last {
  	margin-top: 1rem;
  	text-align: center;
  	border: 3px solid #333;
  	padding-top: 5px;
  	cursor: pointer;
  	transition: 0.5s ease all;
  	color: #333;
  	&:hover {
  		background-color: #EFEFEF;
  	}
  	h3 {
  		font-family: "FrutigerNeueW01-HeavyIt";
  		font-size: 1.4em;
  	}
  	h6 {
  		font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  		font-weight: 700;
  	}
  }
#bom{
	margin-bottom: 8rem;
}
#copy{
	text-align: center;
	font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  	font-weight: 700;
}
  .jcap {
  	font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  	font-weight: 700;
  	font-size: 0.9em;
  	line-height: 160%;
  }

  #one {
  	margin-top: 3rem;
  	background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .8)), url(../img/2.jpg);
  	color: #333;
  	position: relative;
  	padding-bottom: 3rem;
  }

  #two {
  	margin-top: 5rem;
  	background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/1.jpg);
  	color: white;
  	position: relative;
  	padding-bottom: 3rem;
  }

  #three {
  	margin-top: 5rem;
  	background-image: linear-gradient(rgba(255, 255, 255, .95), rgba(255, 255, 255, .9)), url(../img/4.jpg);
  	color: #333;
  	position: relative;
  	padding-bottom: 3rem;
  }

  #four {
  	margin-top: 5rem;
  	background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/3.jpg);
  	color: white;
  	position: relative;
  	padding-bottom: 3rem;
  }

  #five {
  	margin-top: 5rem;
  	background-image: linear-gradient(rgba(255, 255, 255, .9), rgba(255, 255, 255, .8)), url(../img/6.jpg);
  	color: #333;
  	position: relative;
  	padding-bottom: 3rem;
  }

  #six {
  	margin-top: 5rem;
  	background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .7)), url(../img/5.jpg);
  	color: white;
  	position: relative;
  	padding-bottom: 3rem;
  }

  .old {
  	font-family: RCSwowOld;
  }

  #gotop {
  	position: fixed;
  	width: 50px;
  	height: 50px;
  	border: 1px solid #333;
  	border-radius: 50%;
  	right: 0;
  	left: 0;
  	margin-left: auto;
  	margin-right: auto;
  	bottom: 50px;
  	background-color: rgba(255, 255, 255, 0.7);
  	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  	transition: all 0.2s ease;
  	&:hover {
  		transform: translateY(-5px);
  	}
  	div {
  		position: absolute;
  		right: 0;
  		left: 0;
  		top: 0;
  		bottom: 0;
  		margin: auto;
  		width: 20px;
  		height: 20px;
  		border-top: 1px solid #333;
  		border-left: 1px solid #333;
  		transform: rotate(45deg) translate(3px, 3px);
  	}
  }

  .accordion-content {
  	font-size: 0.8em;
  	font-family: "Frutiger Neue W01 Book", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  }

  .accordion-title {
  	color: #333;
  	font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  	font-weight: 700;
  	transition: all ease 0.3s;
  	&:hover {
  		background-color: #EFEFEF;
  		color: #333;
  	}
  }

  .didt {
  	font-family: RCSwowDidT;
  }

  .didone {
  	font-family: RCSwowDid;
  }

  .dids {
  	font-family: RCSwowDidS;
  }

  .swift {
  	font-family: RCSwowSwiT;
  }

  .swi {
  	font-family: RCSwowSwi;
  }

  .swis {
  	font-family: RCSwowSwiS;
  }

  .cla {
  	font-family: RCSwowCla;
  }

  .slab {
  	font-family: RCSwowSla;
  }

  .neo {
  	font-family: RCSwowNeo;
  }

  .neos {
  	font-family: RCSwowNeoS;
  }

  .wed {
  	font-family: RCSwowWed;
  }

  .swislab {
  	font-family: RCSwowWed;
  }

  .fill {
  	margin-top: 5rem;
  	font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  	font-weight: 700;
  	text-align: center;
  	margin-bottom: 1rem;
  }
#vertical{
	display: flex;
	align-items: center;
	justify-content: center;
}
  #sample {
  	h4 {
  		margin-bottom: -2px;
  	}
  	p {
  		font-size: 0.9em;
  	}
  	div {
  		background: #EFEFEF;
  	}
  }

  ul.orbit-container {
  	height: auto !important;
  }

  li.orbit-slide {
  	max-height: none !important;
  }

  .varidemo {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  }

  figcaption {
  	text-align: right;
  	font-size: 0.8em;
  	font-family: "Frutiger Neue W01 Book", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  	margin-bottom: 1rem;
  }

  @media screen and (max-width: 39.9375em) {
  	#title {
  		font-size: 3.4em;
  		margin-bottom: 10px;
  	}
  	#top {
  		margin-bottom: -1em;
  	}
  	.top {
  		margin-top: 3rem;
  	}
  	#sub {
  		margin-bottom: 2rem;
  	}
  	.wa {
  		margin-top: 1rem;
  		p,
  		ol {
  			font-size: 0.8em;
  		}
  	}
  	.waph {
  		margin-top: 1rem;
  	}
  	#gotop {
  		bottom: 30px;
  	}
  	.fontview {
  		h2 {
  			margin-top: -40px;
  			font-size: 10em;
  			text-align: center;
  		}
  		h5 {
  			margin-top: -45px;
  			font-size: 2em;
  			text-align: center;
  			line-height: 100%;
  		}
  		h3 {
  			margin-top: -45px;
  			font-size: 2em;
  			text-align: center;
  			line-height: 100%;
  		}
  		h4 {
  			margin-top: 20px;
  			font-size: 1.7em;
  		}
  		.des {
  			line-height: 130%;
  			font-size: 1em;
  		}
  	}
  	.jcap {
  		font-family: "Frutiger Neue W01 Md", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W6", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  		font-weight: 700;
  		font-size: 0.8em;
  		line-height: 160%;
  		text-align: justify;
  	}
  	#one,
  	#two,
  	#three,
  	#four,
  	#five,
  	#six {
  		padding-bottom: 0;
  	}
  	.last {
  		margin-bottom: 1rem;
  		margin-top: 0;
  	}
  	.fill {
  		margin-top: 1rem;
  	}
  }
@media only screen and (min-width: 63.9375em) {
  h6 br {
    display: none;
  }
}
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
  	.fontview {
  		h2 {
  			font-size: 15em;
  			margin-top: -30px;
  		}
  	}
  }